<launch>
    <arg name="itci" default="false"/>
    <param name="itci" value="$(arg itci)"/>

    <node pkg="autonomous_eating" type="input_manager.py" name="input_manager" output="screen"/>

    <group if="$(arg itci)">
        <node pkg="i_tongue_pkg" name="ITCI" type="itci.py" output="screen" />
    </group>

    <group unless="$(arg itci)">
        <node pkg="joy" type="joy_node" name="joy_node" output="screen"/>
    </group>
</launch>