<?xml version="1.0"?>
<!-- j2s6_3 refers to jaco v2 6DOF spherical 3fingers -->


<robot xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:gazebo="http://playerstage.sourceforge.net/gazebo/xmlschema/#gz"
    xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body"
    xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom"
    xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#joint"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:rendering="http://playerstage.sourceforge.net/gazebo/xmlschema/#rendering"
    xmlns:renderable="http://playerstage.sourceforge.net/gazebo/xmlschema/#renderable"
    xmlns:physics="http://playerstage.sourceforge.net/gazebo/xmlschema/#physics"
	xmlns:xacro="http://www.ros.org/wiki/xacro" name="j2n6s300">


  <xacro:include filename="$(find kinova_description)/urdf/j2n6s300.xacro"/>
  <xacro:include filename="$(find realsense_gazebo_plugin)/urdf/realsense-RS200.macro.xacro"/>

  <xacro:property name="M_pi" value="3.1415" />

  <link name="root"/>

  <!-- for gazebo -->
  <link name="world"/>
  <!-- <link name="camera_link"/>-->

  <link name="color_corrected_frame" />
  
  
  <joint name="connect_root_and_world" type="fixed">
    <child link="root" />
    <parent link="world" />
    <origin xyz="0 0 0" rpy="0 0 0" />    
  </joint> 

	<link name="arm_mount">
  </link>

	<joint name="arm_attach" type="fixed">
    <child link="arm_mount" />
    <parent link="root" />
    <origin xyz="0.3 1.05 0.75" rpy="0 0 0" />
  </joint>


  <!--<xacro:j2n6s300  base_parent="arm_mount"/>-->

  <!--<joint name="connect_link_and_camera" type="fixed">
    <child link="camera_link" />
    <parent link="j2n6s300_link_6" />
    <origin xyz="0 1 0" rpy="0 0 0" />    
  </joint> -->

  <xacro:property name="robot_root" value="arm_mount" />
  <xacro:j2n6s300  base_parent="${robot_root}"/>

  <!-- Create camera instance -->
  <xacro:realsense-rs200 prefix="" parent="j2n6s300_link_6">
  <origin xyz="0.1 0 0" rpy="0 ${M_pi/2} 0"/>
  </xacro:realsense-rs200>

  <joint name="color_joint_auto_eating" type="fixed">
  <child link="color_corrected_frame" />
  <parent link="j2n6s300_link_6" />
  <origin xyz="0.1 0 0.004" rpy="${M_pi} 0 ${-M_pi/2}"/>
  </joint>

  <link name="end_effector_spoon">
    <collision>
      <origin xyz="0 0 -0.005" rpy="0 0 0"/>
      <geometry>
	       <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 -0.17" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://autonomous_eating/models/spoon_tool/meshes/spoon_toolv3.stl"/>
      </geometry>
      <material name="Cyan">
         <color rgba="0 1.0 1.0 1.0"/>
      </material>

    </visual>

    <inertial>
      <origin xyz="0 0 -0.17" rpy="0 0 0"/>
      <mass value="0.2"/>
      <inertia
    	  ixx="0.00166667" ixy="0.0"            ixz="0.0"
    	                     iyy="0.00166667"   iyz="0.0"
    	                                          izz="0.00166667"/>
    </inertial>
  </link>

  <joint name="end_effector_spoon_joint" type="fixed">
    <child link="end_effector_spoon" />
    <parent link="j2n6s300_end_effector" />
    <origin xyz="0 0 0.17" rpy="0 0 ${M_pi}"/>
  </joint>


</robot>
